# Terraform state
*.tfstate
*.tfstate.*

# Terraform directory
.terraform/

# Terraform plan files
*.tfplan

# Crash logs
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc
